* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #68707d
}

.overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 1000%;
  z-index: 10;
  background-color: #000;
  opacity: 0.5;
}

.overlay.on {
  display: inline;
}

ul li {
  cursor: pointer;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #f7f8fd;

}

.container {
  @media screen and (max-width: 868px) {
    padding: 0;
  }

  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

button {
  border: none;
}

.orange-button {
  width: 100%;
  height: 55px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #ff7d1a;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  span {
    margin-left: 13px;
    color: #ffffff;
    font-weight: bold;
  }

  &:hover {
    filter: brightness(1.2);
  }
}