.product-page {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 0px;

  .product-images {
    width: 450px;

    .main-image {
      
      :active {
        border: 2px solid #ff7d1a;
      }

      img {
        width: 450px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    
    .small-images {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      width: 450px;
      img {
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
      }

      :active {
        border: 2px solid #ff7d1a;
      }
    }
  }

  .product-description {
    margin: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    max-width: 450px;

    .header-product-desc {
      .product-brand {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ff7d1a;
        margin-bottom: 25px;
      }
  
      .product-title {
        color: #000000;
        font-size: 45px;
        margin-bottom: 25px;
      }
    }
  
    .product-body {
      .product-description-text {
        margin-bottom: 25px;
      }

      .product-price {
        .current-price-product {
          font-size: 25px;
          font-weight: bold;
          color: #000000;
          margin-bottom: 25px;
        }
  
        .product-discount {
          color: #ff7d1a;
          background-color: #ffede0;
          padding: 4px 8px;
          border-radius: 5px;
          font-size: 14px;
          font-weight: bold;
          margin-left: 8px;
        }
  
        .old-price-product {
          margin-top: 10px;
          color: #b6bcc8;
          text-decoration: line-through;
          margin-bottom: 25px;
        }
      }
    }

    .product-footer {
      display: flex;
      height: 55px;

      .product-form {
        display: flex;
        width: 100%;

        .product-counter {
          margin-right: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40%;
          background-color: #f7f8fd;
          padding: 5px 10px;
          border-radius: 10px;
  
          .less, .more {
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              filter: brightness(1.2);
            }
          }
  
          .counter-number {
            font-size: 17px;
            font-weight: bold;
            color: #000000;
            margin: 0px 15px 0px 15px;
          }
        }

        .orange-button.add-cart {
          padding: 15px;
        
          span {
            margin-left: 13px;
            color: #ffffff;
            font-weight: bold;
          }
        
          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }
  }

  .open-imgs {
    display: none;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .main-open {
      position: relative;

      .main-open-img {
        width: 600px;
        height: 600px;
        border-radius: 10px;
        position: relative;
      }

      .icon-close {
        cursor: pointer;
        position: absolute;
        top: -5%;
        right: 0;
        width: 18px;
        height: 18px;
      }
  
      .arrow-previous {
        height: 50px;
        width: 50px;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 45%;
        left: -4%;
        z-index: 3;
        cursor: pointer;
  
        img {
          position: absolute;
          top: 50%;
          transform: translate(135%, -50%);
        }
      }
  
      .arrow-next {
        height: 50px;
        width: 50px;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 45%;
        right: -4%;
        z-index: 3;
        cursor: pointer;
  
        img {
          position: absolute;
          top: 50%;
          transform: translate(150%, -50%);
        }
      }
    }

    .small-imgs-open {
      text-align: center;
      margin-top: 40px;

      img {
        width: 95px;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
        cursor: pointer;
        &:active {
          border: 2px solid #ff7d1a;
        }
      }
    }
  }
}